<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/scr/styles/modal.css">
    <title>Modal</title>
</head>

<body>
    <div class="container">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet, facere delectus ratione iusto ipsam eos
        doloribus mollitia libero eligendi. Illum vero minus quasi impedit dolorum reprehenderit quidem corrupti sequi
        corporis consequatur explicabo, ea aliquam doloribus eaque in ab voluptates saepe veritatis totam aliquid ipsum
        officia cum rerum. Sint cupiditate assumenda hic consequatur id porro ipsum magni veritatis illo eius vero
        recusandae dolores eos reprehenderit eveniet nihil deserunt ad temporibus tenetur fuga, ducimus, quidem impedit.
        Accusamus enim, sed quo optio libero quidem voluptate sapiente vero, praesentium culpa cum qui maiores similique
        harum hic possimus. Delectus quisquam recusandae quae fuga expedita esse?
        <br>
        <br>

        <div id="openModal" class="modal">
            <a href="#close" title="Close" class="close">x</a>
            <div class="modal-wrapper">
                <div class="modal-content">
                    <div class="modal-header">

                        <h2 class="modal-title">Модальное окно</h2>

                    </div>
                    <div class="modal-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque ut veritatis quos voluptate
                            architecto modi aspernatur! Consequuntur cum recusandae exercitationem!</p>
                        <button>Принять</button>
                        <button>Отменить</button>
                    </div>

                </div>

            </div>
        </div>
        <a href="#openModal">Открыть модальное окно</a>
    </div>


</body>

</html>