body {
    background-color: beige;
}

.block {
    height: 100px;
    width: 100px;
    border: 5px solid white;

}

.red_block {
    border-color: red;
    top: 50px;
    left: 50px;
    position: absolute;
    z-index: 1;
}

.blue_block {
    border-color: blue;
    position: absolute;
    top: 110px;
    left: 110px;
    z-index: 2;
}

.green_block {
    border-color: green;
    position: absolute;
    top: 170px;
    left: 170px;
    z-index: 3;
}
